<%= page_header("Reset Password") %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well">
      <p class="lead">Come on, we don't have time to bother with password resets.</p>
      <p>Next time you'll remember to keep it simple and have a backup copy under your keyboard.</p>
    </div>
  </div>
</div>
