<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>People Against Security</h1>
      <p>
      A community of enlightened minds who realize that the need for security is completely exaggerated. It is used to frighten people into spending money on services they don't need. We can be much more productive when we stop wasting time catering to security concerns.
      </p>
      <p>
      <a class="btn btn-primary btn-lg call-to-action" href="/register">Join Us!</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recent Updates</h1>
    <div class="row">
      <div class="col-xs-12">
        <h2>Heartbleed, Shellshock, BadUSB - Overrated <small>December 7, 2014</small></h2>
        <p>
        Don't waste time downloading these patches. The chances that someone will actually use these exploits on your sites are slim to none. Go add more new features with the time you're saving!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>TheProfessor has been banned from PAS <small>December 3, 2014</small></h2>
        <p>
        We do not welcome anyone who would choose to continue to further the agenda of the security community. We have better things to do than setup a public key infrastructure or update our password hashing algorithm every 10 years.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Target, Home Depot, so what? <small>November 8, 2014</small></h2>
        <p>
        Getting hacked is just a fact of life. The security believers want you to think you can buy their multi-million dollar products and be safe, but there are no guarantees that they will protect you from everything. So why bother? Just keep shipping features and making users happy. How likely is it that someone will hack you anyway?
        </p>
      </div>
    </div>
  </div>
</div>
